*.py[co]
*.pyo
*~
localDevSetup/ETCsudoersBackup
*.directory
*.sublime-project
*.sublime-workspace
mysql_dev.complete

#eclipse IDE files
.project
.pydevproject
.settings/

/src/dashboard/src/settings_local.py
/src/dashboard/src/static
